<h3> To moja pierwsza aplikacja napisana w Ruby on Rails. Potrzebowałam miejsca do organizacji moich instrukcji do szycia. Sew Incredible pozwala tworzyć, edytować i przechowywać w zorganizowany sposób instrukcje krawieckie.</h3>
