<h3>
  This is my very first application written in Ruby on Rails. I needed something to organize my sewing instructions, so I decided to create Sew Incredible, which allows you to create, store, and edit blueprints for sewing.
  <%#You can check out the source code on <%= link_to "Github", "https://github.com/norahine/sew-incredible", target: "_blank" %>
</h3>


