<h3>
  This is my very first application. I wrote it using Ruby on Rails. I needed something for better organisation of my sewing instructions. Sew Incredible allows you to create, store and edit blueprints needed for sewing. You can check out sourcecode on my <%= link_to "Github", "https://github.com/norahine", target: "_blank" %>.
</h3>


