<h1 id="about_me"><%=t(:about)%></h1>

<table class="about-table">
	<thead>
		<th><%=t(:contact)%></th>
	</thead>
	<tbody>
		<tr>
			<td>Email:</td>
			<td>baranska.n@gmail.com       
			<a href="mailto:baranska.n@gmail.com" class="email-btn">Email Me</a></td>
		</tr>
		<tr>
			<td> Instagram:</td>
			<td>@nataliabaranska
			<a href="https://www.instagram.com/nataliabaranska/" class="insta-btn">Follow me on Instagram</a>
		</tr>
	</tbody>
</table>

<%= render partial: "about" %>

	<!-- <div id="my-picture">
		<img src="https://dl.dropboxusercontent.com/u/41493216/FullSizeRender-1.png" id="myself" />
		<div class="about">Developed in Krowodrza, Cracow. </div>
	</div> -->

<!--	Problems with displaying it below picture, 		
<div class="about">
		<h2>Sew Incredible</h2>
		<p class="about-line">Developed in Krowodrza, Cracow.</p>
		<p class="about-line">Amazing app that will meet all your needs!</p>
		<p class="about-line">Add, delete and edit your sewing instructions!</p>
		<p class="about-line">Thats right! This app can do <strong>three</strong> things!</p>
</div> */ -->