<h1 id="about"><%=t(:about)%></h1>

<%= render partial: "about" %>

<table class="about-table">
	<thead>
		<th><%=t(:contact)%></th>
	</thead>
	<tbody>
		<tr>
			<td>Email:</td>
			<td><a href="mailto:baranska.n@gmail.com">baranska.n@gmail.com</a></td>
		</tr>
		<tr>
			<td>Instagram:</td>
			<td><a href="https://www.instagram.com/nataliabaranska/">@nataliabaranska</a>
		</tr>
	</tbody>
</table>

