<h1><font face="helvetica"> Sew Incredible</font></h1>
<p><font face="helvetica" color=#1960a1>Nowa instrukcja</font></p>

<!-- |form| represents FormBuilder -->
<%= render 'form' %>
<%= link_to 'Cofnij', blueprints_path %>
