/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */


html, body {
    margin: 0;
    padding: 0;
}

body {
	font-family: Helvetica;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 10px;
}

/* Góra strony */
.header {
/*  background: url(https://dl.dropboxusercontent.com/u/41493216/FullSizeRender.jpg);*/
  background: asset-url("background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 62%;
  background-size: cover;
  height: 460px;
}

				/* Góra strony. Tekst i przycisk */
.header .container {
	position: relative;
	top: 180px;
	text-align: center;
}

.header h1 {
	font-size: 60px;
}

#learn_more_button {
	text-decoration: none;
	background: black;
	color: white;
	padding: 10px 30px 10px 30px;
}

#learn_more_button:hover {
	background: grey;
}


/* "By Natalia Barańska" */
.header p {
	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
	text-transform: uppercase;
}

/* Pasek: Wszystkie intrukcje etc. */
.nav {
	background: black;
	height: 80px;
	width: 100%;
}

.nav ul {
	height: 80px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: inline-block;
}

/* Fak! Jak je zrobić na środku? */
.nav ul li {
	color: white;
	display: inline-block;
	height: 80px;
	line-height: 80px;
	list-style: none;
	padding: 0 10px;
	transition: background .5s;
}

.nav ul li a {
	color: white;
}

.nav ul li a:hover {
	font-weight: bold;
}

.main .container {
	margin: 80px auto;
	/* Vertical alignment: http://www.vertical-align.com/ */
	display: table; height: 200px; position: relative; overflow: hidden;
}

.main img {
	/* float: left;
	margin: 50px 80px 50px 0;
	width: 50%; /*
	/* Vertical alignment: http://www.vertical-align.com/ */
	/* display: table-cell; vertical-align: middle;
	height: 400px;
	width: 320px; */
}

.main .about {
	/* Vertical alignment: http://www.vertical-align.com/ */
	display: table-cell; vertical-align: middle;
}

.nav .container {
	text-align: center;
}

.main th, .main td {
	border-bottom: 1px solid #ddd;
	padding: 15px;
}

.main th {
	font-size: 20px;
  text-align: left;
}

/* Pokaż, edutuj, usuń – guziki */
.main td a {
	background: black;
	color: white;
	padding: 5px 30px 5px 30px;
	text-decoration: none;
}

/*mouse over*/
td a:hover {
	background: grey;
}

/* Any link with a class of "Back"*/
a.back {
	display: inline-block;
	text-decoration: none;
	padding: 5px 30px 5px 30px;
	background-color: black;
	color: white;
}

a.back:hover {
	background: grey;
}


/*FOOTER*/

.footer {
	background: black;
	height: 80px;
	width: 100%;
	color: white;
	display: table;
  width: 100%;
  font-size: 12px;
  /*padding: 5px 30px 5px 30px;*/
}

.footer table {
	width: 100%;
}

.footer td {
	width: 33%;
	/*height: 80px;*/
}

.footer td > * {
  position: relative;
  top: 4px;
}

.footer a:hover {
	font-weight: bold;
}

#copyright p {
	margin-left: 25px;
}

#website {
	text-align: center;
}

#website a {
	color: white;
}

#insta {
	text-align: right;
}

#insta a {
	margin-right: 25px;
  position: relative;
  top: 20px;
}

#insta a:hover {
  background-color: transparent;
}

/* O MNIE */

#about_me {
	text-align: center;
}

.email-btn {
	margin-left: 20px;
}

.insta-btn {
	margin-left: 20px;
}

.about-table {
	margin: 0 auto;
}

#my-picture {

}

#my-picture img {
	width: 50%;
	display: table-cell; vertical-align: middle;
	margin: 80px auto 20px auto;
}

/*Zmiana wersji strony – język*/

.language-switch {
	list-style: none;
	float: right;
	/*margin: 0 0 0 20px;*/
	position: relative;
	top: 19px;
	right: 19px;
	width: 84px;
}

.language-switch li {
  float: left;
  padding: 0 7px;
  position: relative;
  background: transparent url('data:image/gif;base64,R0lGODdhAQAMAPAAAJmZmQAAACwAAAAAAQAMAEACA4SPVgA7') no-repeat left center;
  list-style: none;
 /* margin: 0;
  padding: 0 7px;
  min-width: 18px*/
}

/*Get rid of the line*/
.language-switch li:first-child {
  background-color: yellow;
  background: 0;
}

.language-switch li a {
	color: black;
}

.language-switch li a:hover {
	font-weight: bold;
}

.language-switch li.active a {
	font-weight: bold;
}
