/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

html, body {
  margin: 0;
  padding: 0;
}

body {
	font-family: Helvetica;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 10px;
}

// Header
.header {
  // Needed to add 'asset' because of fingerprints on heroku
  background: asset-url("background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 61%;
  background-size: cover;
  height: 460px;
}

.header .container {
	position: relative;
	top: 180px;
	text-align: center;

  h1 {
    font-size: 60px;
  }

  p {
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 40px;
    margin-top: 0;
    text-transform: uppercase;
  }
}

.login_button {
	text-decoration: none;
	background: black;
	color: white;
	padding: 10px 30px 10px 30px;
}

.login_button:hover {
	background: grey;
}

// Main part
.container h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Pasek: Wszystkie intrukcje etc. */
.nav {
	background: black;
	height: 80px;
	width: 100%;
}

.nav ul {
	height: 80px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: inline-block;

  li {
    color: white;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    list-style: none;
    padding: 0 10px;
    transition: background .5s;
  }
}

.nav ul li a {
	color: white;
}

.nav ul li a:hover {
	text-decoration: underline;
}

.main .container {
	margin: 80px auto;
	display: table; height: 200px; position: relative; overflow: hidden;
}

.main .about {
//  Vertical alignment: http://www.vertical-align.com/
	display: table-cell; vertical-align: middle;
}

.nav .container {
	text-align: center;
}

.main th,
.main td {
	border-bottom: 1px solid #ddd;
	padding: 15px;
}

.main th {
	font-size: 20px;
  text-align: left;
}

/* Pokaż, edutuj, usuń – guziki */
.main td a {
	background: black;
	color: white;
	padding: 5px 30px 5px 30px;
	text-decoration: none;
}

a.action.submit-form-button {
  text-align: center;
}

/*mouse over*/
td a:hover {
	background: grey;
}

.submit-form-button {
  display: inline-block;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: black;
  color: white;
  font-size: 16px;
  border-width: 0;
  margin: 0;
  width: 206px;
}

.submit-form-button:hover {
  background: grey;
  cursor: pointer;
}

// Footer
.footer {
	background: black;
	height: 80px;
	width: 100%;
	color: white;
	display: table;
  width: 100%;
  font-size: 12px;

  table {
    width: 100%;
  }

  td {
    width: 33%;
  }
}

.footer td > * {
  position: relative;
  top: 4px;
}

#copyright p {
	margin-left: 25px;
}

#website {
	text-align: center;

  a {
    color: white;
  }

  a:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

#insta {
	text-align: right;

  a {
    margin-right: 25px;
    position: relative;
    top: 20px;
  }

  a:hover {
    background-color: transparent;
  }
}

// About section
#about {
	text-align: center;
}

.about-table {
	margin: 0 auto;
  margin-bottom: 30px;
  width: 400px;
}

h3 {
  width: 400px;
  padding-bottom: 20px;
  line-height: 1.5;
  text-align: justify;

  a {
    color: grey;
  }

  a:hover {
    text-decoration: underline;
  }
}

// Language switch
.language-switch {
	list-style: none;
	float: right;
	position: relative;
	top: 19px;
	right: 19px;
	width: 84px;

  li {
    float: left;
    padding: 0 7px;
    position: relative;
    background: transparent url('data:image/gif;base64,R0lGODdhAQAMAPAAAJmZmQAAACwAAAAAAQAMAEACA4SPVgA7') no-repeat left center;
    list-style: none;
  }
}

// Removes the line before 'PL'
.language-switch li:first-child {
  background: 0;
}

.language-switch li a {
	color: black;
}

.language-switch li a:hover,
.language-switch li.active a {
	font-weight: bold;
}

// User authentication forms, new blueprint form
.form {
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .field input {
    margin-left: 0;
  }

  label {
    display: inline-block;
    margin-left: 0;
    font-size: 14px;
  }

  .field_with_errors {
    display: inline;
  }

  textarea {
    margin-left: 0;
  }

  .secondary-info {
    font-size: 12px;
  }

  a {
    color: grey;
    font-size: 12px;
  }

  a:hover {
    text-decoration: underline;
  }
}

// Custom classes
strong {
  font-weight: bold;
}

.small-margin-bottom {
  margin-bottom: 10px;
}

.medium-margin-bottom {
  margin-bottom: 18px;
}

.small-margin-top {
  margin-top: 10px;
}

.input-width {
  width: 200px;
}

// Error messages
#error_explanation > * {
  font-size: 14px;
  color: red;
}

div#error_explanation {
  margin-bottom: 20px;
  width: 200px;

  h2 {
    margin-bottom: 5px;
  }
}

.alert {
  color: white;
  font-size: 14px;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  margin-bottom: 24px;
  // TODO:
  max-width: 200px;
}

.alert.error {
  background-color: red;
}

.alert.success {
  background-color: #8FD75B;
}

.alert.alert.message {
  background-color: orange;
}

.alert.notice {
  background-color: grey;
}

.field_with_errors input,
.field_with_errors textarea {
  border: 1px solid red;
}
